
*{
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}

.firsttop{
    display:flex;
    justify-content: space-between;
    padding: 2px 15px ;
    margin-top: 15px;
}
.firsttop img{
    width: 100px ;
    height: 50px;
}
.firsttop i{
    color:white;
   background-color: rgb(223, 45, 75);
}


.secondtop{
    height: 70vh;
    border-bottom: 1px solid grey;
}

.secondtop div{
    margin-top: 85px;
    margin-left: 55px;
    text-align: center;
}

.leftcon{
    width:30%;
    height:50vh;
    float:left;
}
.leftcon h1{
    margin-bottom: 15px;
}

.rightcon iframe{
    width:50%;
    height: 85vh;
    left: 240px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px ;
}

.thirdcont{
   margin-top: 85px;
   
}
.thirdcont img{
    height: 80vh;
    width: 98vw;
    
}

.registerdiv{
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 40%;
}
.logindiv{
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 1px;
}

.forthcont{
    display: flex;
}
.forthcont div{
    width:25%;
    margin-left: 80px;
    margin-top: 15px;
    padding: 10px 8px ;
}


.fifthcont{
    margin-top: 80px;
}

.sixthcont{
    display: flex;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 45px;
    justify-content: space-between;
    
}

.sixththird {
    margin-top: 228px;
}

.sixththird img{
    height: 70vh;
    width: 90vw;
    padding-left: 120px;

}

.sixthfirst,
.sixthsecond{
    height:10vh;
}

footer{
    margin-top: 20px;
}

.footerfirst{
    margin-top: 10px ;
}
.footflex{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

.footlast{
    padding-top: 80px;
    padding-left: 480px;

}